#nav1{
	width: 100%;
	margin-bottom: 20px;	
}
.ortalama{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;


}
.nav_sekil , .navbar{
	margin-top: 30px;
}
.navbar{
	width: 42%;
}
ul li{
    list-style: none;
}
.navbar ul li a{
	float: left;
	margin-left: 10px;
	color: black;
	font-size: 15px;

}
.navbar ul li i{
	border: 1px solid red;
	border-radius: 5px;

}

.fa-magnifying-glass{
	padding: 8px;
	color: red;
	background-color: white;
}
.fiziki{
	font-weight: 600;
}
.media_icon{
	width: 10%;
   display: flex;
   justify-content: space-between;
   display: none;
}